<footer class="container">
    <p>Detta skolprojekt är ett sammarbete mellan es20 och te19 från
        <a href="https://www.ntigymnasiet.se/umea/" target="_blank">NTI Gymnasiet Umeå</a>.</p>
</footer>